@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Bold-webfont.eot');
  src: url('../fonts/Raund-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Raund-Bold-webfont.woff2') format('woff2'), url('../fonts/Raund-Bold-webfont.woff') format('woff'), url('../fonts/Raund-Bold-webfont.ttf') format('truetype'), url('../fonts/Raund-Bold-webfont.svg#raundbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Italic-webfont.eot');
  src: url('../fonts/Raund-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Raund-Italic-webfont.woff2') format('woff2'), url('../fonts/Raund-Italic-webfont.woff') format('woff'), url('../fonts/Raund-Italic-webfont.ttf') format('truetype'), url('../fonts/Raund-Italic-webfont.svg#raunditalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-webfont.eot');
  src: url('../fonts/Raund-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Raund-webfont.woff2') format('woff2'), url('../fonts/Raund-webfont.woff') format('woff'), url('../fonts/Raund-webfont.ttf') format('truetype'), url('../fonts/Raund-webfont.svg#raundregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
:focus {
  outline: none;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.column {
  padding: 0 15px;
}
header {
  padding: 30px 0;
  background: #eb5757;
  box-shadow: #000000 0 0 7px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}
.map {
  position: relative;
  max-width: 980px;
  width: 100%;
height: 550px;
  margin: 0 auto;
}
.mobile{
  display: none;
}
.map__img {
display: none;
z-index: -100;
}
.map__hotspot {
  display: block;
  background: #eb5757;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: background .5s linear;
          transition: background .5s linear;
  text-decoration: none;
  color: #000;
  position: relative;

}
#hotspot1 {
  left: 49.975%;
  top: 32.85%;
}
#hotspot2 {
  left: 25.775%;
  top: 41.25%;
}
#hotspot3 {
  right: 13%;
  bottom: 10.5%;
}
#hotspot4 {
  left: 46.275%;
  top: 31.85%;
}
#hotspot5 {
  left: 33.795%;
  top: 80.25%;
}
#hotspot6 {
  left: 28.475%;
  top: 35.25%;
}
#hotspot7 {
  right: 41%;
  bottom: 69%;
}
#hotspot8 {
  right: 46%;
  bottom: 11.5%;
}
#hotspot9 {
  right: 31%;
  bottom: 51%;
}
#hotspot10 {
  right: 32%;
  bottom: 43.5%;
}
.popup__inner {
  padding: 5px 10px;

}
.map__hotspot:focus .popup {
  display: inline-block;
  z-index:1;
}
.popup__title {
  margin: 0;
}
.popup__text {
  margin: 0;
  height: 0;
  overflow: hidden;
}
.popup__text br {
  display: none;
}
.map__hotspot:focus .popup__text {
  height: auto;
}
.description {
  background: #eb5757;
}
.description__title {
  margin: 0;
  padding: 15px 0;
  background: #fff;
  text-align: center;
  font-size: 25px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
.description__content {
  margin: 30px 0;
  padding: 20px;
  border: 9px solid #fff;
  border-radius: 4px;
}
.description__content p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #222;
}
footer {
  padding: 50px 0;
  background: #222;
  text-align: center;
}
footer p {
  font-size: 25px;
  font-style: italic;
  color: #000;
}
footer a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width:858px) {
  .map__inner {
    position: relative;
    height: 0;
    padding-bottom: 52.916%;
  }
  .mobile{
    display: none;
  }
  .map__img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .map__hotspot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .map__hotspot:hover,
  .map__hotspot:focus {
    background: #fff;
    color: #000;
  }
  .popup {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
    position: absolute;
  }
  .popup__inner {
    display: inline-block;
    white-space: nowrap;
    background: #eb5757;
    border: 4px solid #222;
    border-radius: 4px;
  }
  .map__hotspot:focus .popup {
    opacity: 1;
    width: auto;
    height: auto;
    }
  
  .popup__text {
    height: auto;
  }
  .popup__text br {
    display: block;
  }
  .description__content p {
    font-size: 30px;
  }
  .heading{
    z-index: -100;
  }
}
.branch{
  width: auto;
  height: 350px;
  background: #eb5757;
  z-index: -4;
}
.list1{
  z-index:2;
font-family: georgia;
  position:absolute;
  top:25%;
  left:20%;
}
.list2{
  z-index:2;
  position: absolute;
  font-family: georgia;
  top:25%;
  left:45%;
}
.list3{
  z-index: 2;
  position: absolute;
  font-family: georgia;
  top:25%;
  right:20%;
}
@media screen and (max-width:858px) {  
  .list1{
    left:25%;
    top:2%;
    z-index: -1;
  }
  .list2{
    left:60%;
    top:2%;
    z-index:1;
  }
  .list3{
    right:30%;
    top:2%;
    z-index:-1;
    padding-left: 100px;
    max-width: 100px;
  }
  .list4{
    display: none;
  }
  .list5{
    display: none;
  }
  .list1 ul{
    max-width: 175px;
    position:relative;
    height: auto;
  }
  .list2 ul{
    max-width: 175px;
    position:relative;
    height: auto;
  }
  .list3 ul{
    width: 175px;
    position:relative;
    height: auto;
  }
  }
  @media screen and (min-width:858px){
  .map__inner {
    position:relative;
    height: 0;
    padding-bottom: 52.91666666666667%;
  }
  .mobile{
    display: none;
  }
  .map__img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .map__hotspot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .map__hotspot:hover,
  .map__hotspot:focus {
    background: #fff;
    color: black;
  }
  .popup {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
    position: absolute;
  }
  .popup__inner {
    display: inline-block;
    white-space: nowrap;
    background: #eb5757;
    border: 4px solid #222;
    border-radius: 4px;
  }
  .map__hotspot:focus .popup {
    opacity: 1;
    width: auto;
    height: auto;
  }
  .popup__text {
    height: auto;
  }
  .popup__text br {
    display: block;
  }
  .description__content p {
    font-size: 30px;
  }
  .list4{
    display: none;
  }
  .list5{
    display: none;
  }
  .popup--S {
    right: 0px;
    bottom: -1px;
  }
  .popup--C {
    right: 0px;
    bottom: -1px;
  }
  .popup--R {
    left: 0px;
    bottom: -1px;
  }

}
@media screen and (max-width:895px){
 
  .popup--S {
    right: 0px;
    bottom: -1px;
  }
  .popup--L {
    right: 0px;
    top: -1px;
  }
  .popup--R {
    left: 0px;
    bottom: -1px;
  }
  .popup--M {
    right: 0px;
    top: -1px;
  }
  .popup--C {
    right: 0px;
    bottom: -1px;
  }
  .popup--D {
    right: 0px;
    bottom: -1px;
  }
  .popup--HQ {
    right: 0px;
    bottom: -1px;
  }
  .popup--NY {
    left: 0px;
    top: -1px;
  }
  .popup--G {
    left: 0px;
    top: -1px;
  }
  .popup--left-bottom {
    right: 0px;
    top: -1px;
  }
  .popup--WDC {
    left: 0px;
    top: -1px;
  }
}
@media screen and (max-width:498px){
 .popup__inner{
  border: 3px solid #222;
 }
  .popup__title{
display:inline-block;
  }
  .popup__text{
    display: none;
  }
}
@media screen and (max-width:370px){
 .popup__inner{
  display: none;
 }
  .popup__title{
display:none;
  }
  .popup__text{
    display: none;
  }
  .map__hotspot{
    display:none;
    cursor:default;
  }
  .map__img{
    display: none;
  }
  .mobile{
    display:inline-block;
    max-width: 100%;
    height: auto;
    margin-top: -20px;
    z-index: -100;
    position: relative;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width:960px){
.branch{
  margin-top: -30px;
  }
}
@media screen and (max-width:858px){
  .branch{
    margin-top: -80px;
    }  
}
@media screen and (max-width:680px){
.branch{
  margin-top: -180px;
  }
}
@media screen and (max-width:498px){
  .branch{
    margin-top: -260px;
    }  
}
@media screen and (max-width:330px){
  .branch{
    margin-top: -310px;
    }  
}
@media screen and (max-width:635px){
  .list1{
    left:25%;
    top:-5%;
    z-index: -1;
  }
  .list2{
    left:60%;
    top:-5%;
    z-index:1;
  }
  .list3{
    right:30%;
    top:-5%;
    z-index:-1;
  }
  }
  @media screen and (max-width:590px){
    .list3{
      right:35%;
      top:-5%;
      z-index:-1;
    }  
  }
  @media screen and (max-width:535px){
    .list1{
    display: none;
    }
    .list2{
    display: none;
    }
    .list3{
    display: none;
    }  
    .list4{
    display:block;
    z-index:2;
    font-family: georgia;
    position:absolute;
    top:-50px;
    left:40%;
        }
    .list5{
    padding-left: 100px;
    display:block;
    z-index:1;
    font-family: georgia;
    position:absolute;
    top:-50px;
    left: 40%;
    margin-left:10%;
      }
    .list4 ul{
      position:relative;
      height: auto;
    }
    .list5 ul{
      position:relative;
      height: auto;
    }
  }
  @media screen and (max-width:480px){
    .list4{
      top:-80px;
    }
    .list5{
      top:-80px;
    }
  }
  @media screen and (max-width:490px){
    .list4{
    left: 35%;
    }
    .list5{
      right:5%;
    }
  }
  @media screen and (max-width:370px){
    .list4{
      left: 40%;
      }
    .list5{
      right:10%;
      margin-left: 10px;
      }
   }